/*Для переноса строки через код*/
#tabs
{
    white-space: pre;
}

html
{	
	max-width: 100%;
	height: 100%;
}

body 
{
	display: flex;
	align-items: center;
	background: url("main1.jpg");
	background-size: cover; 
	background-position: center;
	flex-direction:column;
	margin: 0;
	color: #F7F7F7;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

button
{
	font-size: 2em;
	min-width: 2.5vw;
	min-height: 2.5vw;
	max-width: 5vh;
	max-height: 5vh;
	background-color: #F7F7F7;
	border-radius: 0.3rem;
}

p
{
	font-size: 2rem;
}

.main
{
	min-width: 80%;
	max-width: 70rem;
	min-height: 100vh;
	background-color: #292929;
	display: flex;
	align-items: center;
	flex-direction:column;
	margin: 0;
}

.tabs
{
	min-height: 70vh;
	max-width: 60rem;
    min-width: 80%;
	
    background-color: white;
    color: black;

    border-radius: 0.5rem;
    padding: 1.2rem;
    overflow-y: auto;
    overflow-x: auto;
    
    font-family: monospace;
    font-size: 1.2rem;

    display: block;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.text
{
	align-items: center;
}

.octave
{
	display: flex;
	align-items: center;
	flex-direction:column;
	margin-bottom: 3rem;
}

.flat
{
	margin-left: 2.5vw;
	display: flex;
	gap: 3vw;
	margin-bottom: 1rem;
}

.flat1
{
	display: flex;
	gap: 0.7rem;
}

.flat2
{
	display: flex;
	gap: 0.7rem;
}

.flat3
{
	display: flex;
	gap: 0.7rem;
}

.notes
{
	display: flex;
	gap: 0.7rem;
	margin-right: 1rem;
}

.additionally
{
	display: flex;
	margin-top: 1.4rem;
	gap: 0.7rem;
	margin-right: 1rem;
}

.additionally button
{
	background-color : #DBDBDB;
	border-color: #D1D1D1;
}

#d\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#f
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#g\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#a\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#c
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#D\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#F
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#G\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#A\#
{
	background-color : #9C9C9C;
	border-color: #737373;
}

#C
{
	background-color : #9C9C9C;
	border-color: #737373;
}
